
/* DARK MODE */


:root {
    color-scheme: light dark;
    --dark-color: hsl(0, 0, 10%);
    --light-color: hsl(0, 0, 97%);
}


[data-dark="true"] {
    color-scheme: dark;
}

[data-dark="false"] {
    color-scheme: light;
}

html, input, textarea {
    /* color: light-dark(var(--dark-color), var(--light-color)); */
    background-color: light-dark(var(--light-color), var(--dark-color));
}

input, textarea {
    border: 1px solid light-dark(var(--dark-color), var(--light-color));
}




/* DARK MODE SWITCH */

/* The switch - the box around the slider */
.switch-container {
    grid-column: 3;
    justify-self: end;
    display: flex;
    align-items: center;
}

.switch {
grid-column: 3;
position: relative;
    display: inline-block;
    width: 38px;
    height: 21px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 1.5px;
    bottom: 1.8px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(17);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

