

header {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1em;
}

h1 {
    justify-self: center;
    font-size: 16px;
    font-family: "merriweather", serif;
}



